NODE_ENV="development"
HTMX_LOGS="true"
# NODE_ENV="development"
DOMAIN_URL="http://localhost:4321"
## need this to convert UTC dates
## member role
DEFAULT_ROLE_ID=3
SERVER_TIMEZONE="America/Chicago"
DATALIST_TIMEZONES="America/Chicago, America/Indianapolis, America/Detroit"
DATALIST_STATES="Illinois, Indiana, Iowa, Wisconsin, Ohio, Michigan"
DATALIST_CITIES="Countryside, Utica, Rockford, Rock Island, Merrillville, Lakeville, Lakemoor, Joliet, Wilmington"

## Microsoft
MS_GROUP_ID=
TENANT_ID=
# Group.Read.All
MS_TOKEN=
MS_SECRET_VALUE=
MS_CLIENT_ID=
MS_SHAREPOINT_KYU_DRIVE_ID=
MS_SHAREPOINT_KYU_ATTENDENCE_FOLDER_ID=
MS_SHAREPOINT_KYU_FOLDER_URL=
# Sites.ReadWrite.All
MS_SITES_READWRITE_ALL_APP_ID=
MS_SITES_READWRITE_ALL_SECRET_ID=
MS_SITES_READWRITE_ALL_SECRET_VALUE=
MS_TOKEN_SITE_UPLOAD=

## Wordpress
# /wp-json/wchorski/v1/events?after=2023-01-01T00:00:00
WORDPRESS_ENDPOINT=
WP_USERNAME=
WP_APP_PASSWORD=

## Database
## remember to `npm run astro build --remote`
PGHOST="db"
PGPORT=5432
PGUSER=
PGPASSWORD=
PGDATABASE=

## example
## "postgres://${PGUSER}:${PGPASSWORD}@${PGHOST}:${PGPORT}/${PGDATABASE}"
DB_DEV_URL="postgres://admin:admin@localhost:5432/moeits_staff"
## Sync
SRC_DIR="/Volumes/edata/vscode/moeits_staff-astro-htmx"
DEST_DIR="/Volumes/www/"