/* @media (prefers-reduced-motion: reduce) {
  .animation {
    animation: dissolve 4s linear infinite both;
    background-color: green;
    text-decoration: overline;
  }
} */

button {
  transition-property: background-position, background-color, color, border, width, height, filter;
  transition-duration: 100ms;
  transition-timing-function: ease-in;
  transition-delay: 0;
}

@keyframes loading-bottom-border {
  from {
    background-position: 0% 0;
  }
  to {
    background-position: 200% 0;
  }
}

button.htmx-request {
  anchor-name: --submit-button;
  position: relative;
  
  &::after {
    content: "";
    position: absolute;
    /* anchor-name: --submit-button;
    position-area: center bottom; */
    left: 50%;
    transform: translateX(-50%);
    bottom: -3px;

    width: 90%;
    height: 2px;
    background-color: yellow;
    background: var(--lg-loading);
    background-size: 200% 100%;
    background-position: 0 0;

    animation-name: loading-bottom-border;
    animation-duration: 900ms;
    animation-timing-function: ease-in;
    animation-delay: 0;
    animation-iteration-count: infinite;
    animation-direction: reverse;
  }
}
