@media (prefers-color-scheme: light) {
  :root {
    --c-bg: #dddddd;
    --c-txt: #2e2b28;
    --c-txt-rev: #fff7f0;
    --c-txt-bg: #ffffff;
    --c-seperator: rgb(160, 160, 160);
    --c-interactive: rgb(85, 123, 136);
    --c-active: rgb(100, 160, 151);
    --c-primary: rgb(79, 79, 196);
    --c-error: rgb(166, 25, 25);
    --c-success: rgb(47, 141, 88);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --c-bg: #0e0e0d;
    --c-txt: #ddccbb;
    --c-txt-rev: #000000;
    --c-txt-bg: #262525;
    --c-seperator: rgb(51, 51, 51);
    --c-interactive: rgb(85, 123, 136);
    --c-active: rgb(100, 160, 151);
    --c-primary: rgb(79, 79, 196);
    --c-error: rgb(255 73 73);
    --c-success: rgb(47, 181, 105);
  }
}

.sub-text {
  color: var(--c-seperator);
}

/* TODO bad bad not good */
.highlight-green {
  background-color: #3cb34e1d !important;
}

.border-left-create {
  border-left: solid var(--c-success) 20px;
}
.background-success {
  background-color: var(--c-success);
}
.card {
  background-color: var(--c-txt-bg);
}
body {
  background-color: var(--c-bg);
  color: var(--c-txt);
}

table {
  background-color: var(--c-txt-bg);
}
thead {
  background-color: var(--c-txt-bg);
  border-bottom-color: var(--c-seperator);
}
.pill {
  padding-inline: 0.3rem;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  text-align: center;
}
.c-primary {
  border-color: var(--c-primary);
}

a:link {
  color: var(--c-interactive);
  text-decoration: none;
}
a:visited {
  color: var(--c-interactive);
  filter: brightness(0.1);
  text-decoration: none;
}
a:hover {
  filter: brightness(1.2);
  text-decoration: underline;
}

button,
.btn,
.btn:link {
  background-color: var(--c-interactive);
  color: var(--c-txt-rev);

  &:visited {
    color: var(--c-txt);
  }
}

.field-error:not(:empty) {
  color: var(--c-error);
  border-bottom: dotted 2px var(--c-error);
}

hr {
  border-color: var(--c-seperator);
}

.danger {
  &:hover {
    background-color: var(--c-error);
  }
}
