input[type="text"],
input[type="tel"],
input[type="number"],
input[type="email"] {
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
  width: 100%;
  /* max-width: 300px; */
  box-sizing: border-box;
}

input::placeholder {
  color: rgb(207, 207, 207);
  opacity: 1; /* Firefox */
}

label:has(input:required) .text::after {
  content: "*";
}
label {
  display: grid;
}

label .text {
  font-size: 0.7rem;
}

input[name="id"],
input[name="middle_initial"],
input[name="courseId"] 
input[name="locationId"],
select[name="locationId"] {
  max-width: 10ch;
}

form {
  display: grid;
  gap: 0.5rem;

  & > legend:first-of-type {
    font-size: 1.5rem;
    font-weight: bold;
  }

  & fieldset {
    border-color: rgba(211, 211, 211, 0.099);
  }

  & .form-field {
    display: grid;
  }

  button[type="submit"] {
    margin-top: 1.5rem;
  }

  label {
    display: grid;
    color: grey;
  }

  label.form-field:has(input[type="hidden"]) {
    border: dashed red 4px;
    display: none;
  }
}

.field-error {
  color: rgb(161, 24, 24);
  border-bottom: dotted red 2px;
  background-color: rgba(255, 255, 255, 0.467);
}
