input[type="text"],
input[type="tel"],
input[type="number"],
input[type="email"] {
  padding: 0.5rem;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  font-size: 1rem;
  width: 100%;
  /* max-width: 300px; */
  box-sizing: border-box;
}

input::placeholder {
  color: rgb(207, 207, 207);
  opacity: 1; /* Firefox */
}

label:has(input:required) .text::after {
  content: "*";
}
label {
  display: grid;
}

label .text {
  font-size: 0.7rem;
}

input[name="id"],
input[name="user_id"],
input[name="wpPostId"],
input[name="middle_initial"],
input[name="course_id"],
input[name="location_id"],
input[name="course_id"],
input[name="grade"],
input[name="location_id"] {
  max-width: 10ch;
}

form {
  display: grid;
  gap: 0.8rem;

  & > legend:first-of-type {
    font-size: 1.5rem;
    font-weight: bold;
  }

  & fieldset {
    border-color: var(--c-seperator);
    display: grid;
    gap: 0.8rem;
  }

  & .form-field {
    display: grid;
  }

  /* button[type="submit"] {
    margin-top: 1.5rem;
  } */

  label {
    display: grid;
  }

  label.form-field:has(input[type="hidden"]) {
    border: dashed red 4px;
    display: none;
  }

  fieldset.actions {
    border: none;
    padding: 0;
    margin-top: 1.5rem;

    & > button {
      max-width: fit-content;
      padding: 1rem 2rem;
    }
  }

  select, input[type="datetime-local"] {
    width: fit-content;
    padding: 0.3rem 0.5rem;
    cursor: pointer;
  }
}

#submit-pending {
  display: none;
}

.htmx-request #submit-pending {
  display: inline;
}

.htmx-request#submit-pending {
  display: inline;
}

.htmx-request#submit-pending ~ .text {
  display: none;
}
