:root {
  --c-success: rgb(70, 148, 70);
  --c-error: rgb(205, 109, 109);
  --c-pending: rgb(214, 221, 114);
}

body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:
    system-ui,
    -apple-system,
    sans-serif;
  line-height: 1.6;
  padding: 2rem;
  /* max-width: 800px; */
  margin: 0 auto;
}

h1 {
  margin-bottom: 0.5rem;
}

/* h2{
  margin-top: 4rem;
} */

.subtitle {
  margin-bottom: 2rem;
}

.card {
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  & > :first-child {
    margin-top: 0;
  }
}

.status[data-status="success"] {
  --status-color: var(--c-success);
}

.status[data-status="error"] {
  --status-color: var(--c-error);
}

.status {
  /* default fallback */
  --status-color: #999;

  border-left: 8px solid var(--status-color);
  padding: 1rem;

  background: linear-gradient(
    to right,
    color-mix(in srgb, var(--status-color) 10%, var(--c-txt-bg)),
    var(--c-txt-bg)
  );
}

.card h2 {
  margin-bottom: 1rem;
  font-size: 1.25rem;
}

button,
.btn {
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background 0.2s;
  text-decoration: none;
}

button:has(.icon),
.btn:has(.icon) {
  padding: 0.1rem 0.3rem;
}

button.save,
.btn.save {
  background-color: mediumseagreen;
}
button.cancel,
.btn.cancel {
  background: lightgrey;
  color: #475569;
}

button:hover,
.btn:hover {
  background: #25a2eb;
}

.result {
  margin-top: 1rem;
  padding: 1rem;
  background: #f0f9ff;
  border-left: 3px solid #3b82f6;
  border-radius: 4px;
}

.htmx-indicator {
  display: inline-block;
  margin-left: 0.5rem;
  color: #666;
}

.counter-display {
  font-size: 2rem;
  font-weight: bold;
  color: #3b82f6;
  margin: 1rem 0;
}

.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.gap-s {
  gap: 0.5rem;
}
.gap-m {
  gap: 1rem;
}
.gap-l {
  gap: 1.7rem;
}

.callout {
  border-style: dashed;
  border-width: 5px;
  border-color: grey;
  padding: 1rem;
}
.error {
  background-color: rgba(255, 0, 0, 0.192) !important;
  border: solid red 3px;
  border-left-style: dashed;

  &::before {
    content: "⚠ ";
  }
}
.warning {
  border-color: orange;
}

/* ANIMATION */
.error {
  animation-name: vibrate;
  animation-duration: 100ms;
  animation-timing-function: linear;
  animation-delay: 0;
  animation-iteration-count: 3;
  animation-direction: normal;
}

@keyframes vibrate {
  0% {
    opacity: 0.3;
    transform: translateX(0);
  }
  25% {
    transform: translateX(-4px);
  }
  75% {
    transform: translateX(4px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
