:root {
  --c-success: rgb(70, 148, 70);
  --c-error: rgb(205, 109, 109);
  --c-pending: rgb(214, 221, 114);
}

body {
  background-color: rgb(241, 241, 241);
}

body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:
    system-ui,
    -apple-system,
    sans-serif;
  line-height: 1.6;
  padding: 2rem;
  /* max-width: 800px; */
  margin: 0 auto;
}

h1 {
  color: #333;
  margin-bottom: 0.5rem;
}

/* h2{
  margin-top: 4rem;
} */

.subtitle {
  color: #666;
  margin-bottom: 2rem;
}

.card {
  background: white;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  & > :first-child {
    margin-top: 0;
  }
}

.status[data-status="success"] {
  --status-color: var(--c-success);
}

.status[data-status="error"] {
  --status-color: var(--c-error);
}

.status {
  /* default fallback */
  --status-color: #999;

  border-left: 8px solid var(--status-color);
  padding: 1rem;

  background: linear-gradient(
    to right,
    color-mix(in srgb, var(--status-color) 10%, white),
    white
  );
}

.card h2 {
  margin-bottom: 1rem;
  color: #444;
  font-size: 1.25rem;
}

button {
  background: #3b82f6;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background 0.2s;
}

button:hover {
  background: #2563eb;
}

input[type="text"],
input[type="tel"],
input[type="number"],
input[type="email"] {
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
  width: 100%;
  max-width: 300px;
  box-sizing: border-box;
}

label:has(input:required) .text::after {
  content: "*";
}
input[name="middle_initial"],
input[name="courseId"] {
  max-width: 10ch;
}

form {
  display: grid;
  gap: 0.5rem;

  & > legend:first-of-type {
    font-size: 1.5rem;
    font-weight: bold;
  }

  & fieldset {
    border-color: rgba(211, 211, 211, 0.099);
  }

  & .form-field {
    display: grid;
  }

  button[type="submit"] {
    margin-top: 1.5rem;
  }

  label {
    display: grid;
    color: grey;
  }

  label.form-field:has(input[type="hidden"]) {
    border: dashed red 4px;
    display: none;
  }
}

.result {
  margin-top: 1rem;
  padding: 1rem;
  background: #f0f9ff;
  border-left: 3px solid #3b82f6;
  border-radius: 4px;
}

.htmx-indicator {
  display: inline-block;
  margin-left: 0.5rem;
  color: #666;
}

.counter-display {
  font-size: 2rem;
  font-weight: bold;
  color: #3b82f6;
  margin: 1rem 0;
}

.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.gap-s {
  gap: 0.5rem
}
.gap-m {
  gap: 1rem
}
.gap-l {
  gap: 1.7rem
}

.callout {
  border-style: dashed;
  border-width: 5px;
  border-color: grey;
  padding: 1rem;
}
.warning {
  border-color: orange;
}