.table-wrap {
  font-family: "IBM Plex Mono", monospace;
  border: 1px solid #e2e8f0;
  border-radius: 8px;
  overflow: hidden;
}

table {
  width: 100%;
  border-collapse: collapse;

  & thead {
    position: sticky;
    top: 0;
  }
}

th {
  padding-block: 0.75rem;
  text-align: left;
  font-size: 0.75rem;
  font-weight: 600;
  color: #64748b;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  border-bottom: 1px solid #e2e8f0;
}

tr:last-child td {
  border-bottom: none;
}

/* tr[data-status="editing"] td {
  background: #fffbeb;
} */

.action-cell {
  text-align: right;
  width: 1%;
  white-space: nowrap;
}
th,
td {
  padding-inline: 0.5rem;
}
td {
  padding-block: 0.5rem;
}

table tbody > tr:nth-child(odd of :not(.row-error)) {
  background-color: #0000001c;
}
table tbody > tr:nth-child(even of :not(.row-error)) {
  background-color: #0000004f;
}

.row-error:empty {
  display: none;
}

tr[data-status="editing"],
tr[data-status="creating"] {
  position: relative;
  /* anchor-name: --editing-row; */
}

.error-cell {
  padding: 0;
  width: 0;
}

td .row-error:not(:empty) {
  /* position-anchor: --editing-row; */
  /* top: anchor(bottom);
  left: anchor(left);
  right: anchor(right);
  width: anchor-size(width); */
  position: absolute;
  left: 0;
  bottom: -2rem;
  width: 100%;

  /* stay in viewport */
  position-try-fallbacks: flip-block;
}

.row-error:not(:empty) {
  z-index: 20;
  padding: 0.5rem 1rem;
  background-color: color-mix(in srgb, var(--c-error) 30%, black 70%);
  color: white;

  &::after {
    content: "▲";
    position: absolute;
    top: -18px;
    left: 0;
    color: var(--c-error);
  }
}

/* .error-cell {
  padding: 0;
  width: 0;
  overflow: visible;
}

.row-error:not(:empty) {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100vw;
  z-index: 10;
  border: dashed red 3px;
  background-color: red;

  &::after {
    content: "▲";
    position: absolute;
    top: -20px;
    left: 0;
    color: var(--c-error);
  }
} */

table tbody tr:hover {
  background-color: rgba(255, 255, 0, 0.201) !important;
}

table tr.new-row {
  outline: dashed 3px rgba(0, 0, 255, 0.102);
  position: relative;
  td:first-child::before {
    color: mediumslateblue;
    content: "✸";
    position: absolute;
    left: 1%;
    bottom: 50%;
  }
}

/* TODO hack, i need to pass a 'hidden' class to these in template */
/* td:has(input[type="hidden"], input[value="false"]) {
  display: none;
}
td,
th {
  &[data-key="wpPostId"] {
    display: none;
  }
} */

td[data-type="hidden"],
th[data-type="hidden"] {
  display: none;
  outline: dotted red 3px;
}

data[value="null"]::before {
  content: "-";
  color: var(--c-seperator, grey);
}
